<h2>장바구니 목록</h2>
<table>
<!-- START_HIGHLIGHT -->
  <%= render(cart.line_items) %>
<!-- END_HIGHLIGHT -->

  <tr class="total_line">
    <td colspan="2">Total</td>
<!-- START_HIGHLIGHT -->
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
<!-- END_HIGHLIGHT -->
  </tr>

</table>

<!-- START_HIGHLIGHT -->
<%= button_to "결제하러 가기", new_order_path, method: :get %>
<%= button_to '장바구니 비우기', cart, method: :delete,
#END_HIGHLIGHT
    data: { confirm: 'Are you sure?' } %>
