<h2><%= bulletin_name params[:bulletin_id] %></h2>

<%= render 'form' %>

<hr>
<%= link_to '게시글 보기', [@post.bulletin, @post], class: 'btn btn-default' %>
<%= link_to '뒤로', bulletin_posts_path, class: 'btn btn-default' %>
